// Default colors

$white: #FFF;
$black: #0c0c0c;

$gray-100: #F3F3F3;
$gray-200: #e9e9e9;
$gray-300: #e2e2e2;
$gray-400: #a7a9ac;
$gray-500: #767676;
$gray-600: #676767;
$gray-700: #585858;
$gray-800: #2d2d2d;
$gray-900: #232323;

//primary colors

$app-color-1: #7fb529;
$app-color-2: #3287f0;
$app-color-3: #446e8f;
$app-color-4: #ab4134;
