// Default colors

$white: #FFF;
$black: #0c0c0c;

$gray-100: #F3F3F3;
$gray-200: #e9e9e9;
$gray-300: #e2e2e2;
$gray-400: #9e9e9e;
$gray-500: #767676;
$gray-600: #676767;
$gray-700: #585858;
$gray-800: #2d2d2d;
$gray-900: #232323;

$alert-red: #ff4200;
$alert-green: #559f4f;
$alert-yellow: #ffd300;
$alert-blue: #0b7bb9;

//primary colors

$app-color-1: #6e9f34;
$app-color-2: #5ea4d7;
$app-color-3: #446e8f;
$app-color-4: #ab4134;
$app-color-5: #df82ea;
$app-color-6: #c19b16;