/* box
*******************************************************************/

.box {
    padding: 15px;
    border-radius: 4px;
    &.box-sm {
        padding: 8px 12px;
        line-height: 1.4em;
    }

}

.box-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    .box {
        min-width: 650px;
        .box {
            min-width: auto;
        }
    }
}
