/* box
*******************************************************************/

.box {
    padding: 15px;
    border-radius: 4px;
    &.box-sm {
        padding: 8px 12px;
        line-height: 1.4em;
    }

}
