@font-face {
  font-family: 'icomoon';
  src:  url('../icomoon/fonts/icomoon.eot?1rwz0h');
  src:  url('../icomoon/fonts/icomoon.eot?1rwz0h#iefix') format('embedded-opentype'),
    url('../icomoon/fonts/icomoon.ttf?1rwz0h') format('truetype'),
    url('../icomoon/fonts/icomoon.woff?1rwz0h') format('woff'),
    url('../icomoon/fonts/icomoon.svg?1rwz0h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i.app-bg-color-1 {
  padding: 6px 5px 4px;
  border-radius: 50%;
}

.icon-snow-removal:before {
  content: "\e90b";
}
.icon-salting:before {
  content: "\e90c";
}
.icon-residential:before {
  content: "\e90d";
}
.icon-user:before {
  content: "\e90e";
}
.icon-list:before {
  content: "\e90f";
}
.icon-notification:before {
  content: "\e910";
}
.icon-close:before {
  content: "\e90a";
}
.icon-arrow-next:before {
  content: "\e907";
}
.icon-arrow-prev:before {
  content: "\e908";
}
.icon-check:before {
  content: "\e909";
}
.icon-alert-check:before {
  content: "\e903";
}
.icon-alert-danger:before {
  content: "\e904";
}
.icon-alert-error:before {
  content: "\e905";
}
.icon-alert-info:before {
  content: "\e906";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-return:before {
  content: "\e900";
}
