/* table
*******************************************************************/

.table-dark.table-sm {
    border-radius: 6px;
    td,
    th {
        padding: .6rem;
    }
}

.table-responsive {
    width: 100vw;
    overflow-x: auto;
    height: calc(100vh - 50px);
    @media screen and (max-width: 1599px) {
        height: calc(100vh - 100px);
    }
}

table {
    font-size: 16px;
    min-width: 100%;

    &.table-panel {
        table-layout: fixed;
        position: relative;

        tr {
            position: relative;
            &.markEmployee {
                th, td {
                    &::after {
                        background: rgba($alert-blue, .4);
                        transition: none;
                    }
                }
            }
            th, td {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 2px;
                    left: 0;
                    z-index: 1;
                    pointer-events: none;
                    transition: background ease-in 1s;
                }
            }
        }

        thead {
            th {
                position: sticky;
                z-index: 5;
                background-color: #f3f3f3;
            }
            tr:first-child th {
                top: 0;
            }
            tr th {
                top: 51px;
            }
        }
        th, td {
            padding: 8px;
            border-bottom: 1px solid $gray-100;
            vertical-align: top;
            border-bottom: 0;
            border-right: 1px solid $gray-100;
            &:last-child {
                border-right: 0;
            }
        }
        tr > th:first-child,
        tr > td:first-child {
            padding: 1px 0 1px 1px;
        }
        tr > th:first-child {
            width: 240px;
        }
        th {
            font-size: 12px;
            font-weight: 400;
            width: auto;
            text-align: left;
            padding: 1px 0 1px 1px;
            border: 0;
            .current-time {
                margin-bottom: 0;
                font-size: 13px;
            }
            .collapsing,
            .collapse {
                .collapse-body {
                    background-color: $gray-200;
                    padding: 8px;
                    hr {
                        margin: 8px -8px;
                        border-top: 1px solid rgba($gray-400,.5) !important;
                        border-bottom: 1px solid $gray-100;
                    }
                    .user-info {
                        margin: 0;
                        padding: 0;
                        .user-info-crew,
                        .user-info-zone {
                            -webkit-box-orient: horizontal;
                            -webkit-box-direction: normal;
                            -ms-flex-direction: row;
                            flex-direction: row;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            .badge {
                                margin: 0;
                            }
                        }
                    }
                    .user-actions {
                        display: -ms-flexbox;
                        display: flex;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                    }
                    .user-contact {
                        text-align: right;
                        margin: 0;
                        padding-left: 0;
                        padding-right: 0;
                        a {
                            font-weight: 400;
                            color: $gray-500;
                        }
                        .phone {
                            font-weight: 400;
                            padding: 0;
                            font-size: 12px;
                            color: $gray-500;
                            line-height: 1.1;
                        }
                    }
                }
            }
        }
        td {
            width: 56px;
            vertical-align: top;
            position: relative;
            text-align: left;
            padding: 1px 0 1px 1px;
            .time-block {
                height: 35px;
                width: 100%;
                margin-bottom: 0;
            }
            .table-panel-current-time {
                position: absolute;
                pointer-events: none;
                z-index: 4;
                left: 1px;
                top: 1px;
                bottom: 1px;
                background-image: linear-gradient(135deg, rgba($gray-400,.6) 33.33%, rgba($gray-500,.2) 33.33%, rgba($gray-500,.2) 50%, rgba($gray-400,.6) 50%, rgba($gray-400,.6) 83.33%, rgba($gray-500,.2) 83.33%, rgba($gray-500,.2) 100%);
                background-size: 12.73px 12.73px;
                border-right: 2px solid $app-color-4;
            }
        }
    }
}
